@namespace MyComponents

<div class="relic-builder-form-field">
    <label for="@LabelID">@LabelText</label>
    <select name="@LabelID" @bind="@BoundValue">
        @foreach (var enumValue in Enum.GetValues(EnumType))
        {
            <option value="@enumValue">@enumValue</option>
        }
    </select>
</div>
@code {
    [Parameter]
    public string LabelID { get; set; }

    [Parameter]
    public string LabelText { get; set; }

    [Parameter]
    public string BoundValue { get; set; }

    [Parameter]
    public Type EnumType { get; set; }

    [Parameter]
    public EventCallback ComponentValue { get; set; }

    private async Task OnValueChanged(ChangeEventArgs event)
    {
        
    }
}
